img {
    display: block;
    margin: 0 auto;
}

input {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom:10px;
    width: 30%;
}

main {
    text-align: center; /* For button (inline block elements) */
}

.searchbutton {
    display: inline-block;
    margin-top: 10px;
    background-color: #f8f8f8;
    border: white;
}
.searchbutton:hover {
    background-color:#c6c6c6;
}

.signin {
    padding: 5px;
    background-color: #1a73e8;
    border-style: none;
    color: white;
    cursor: pointer;
}

.signin:hover,
.signin:focus {
    background: #0053ba;
}

.unorderedlist {
    list-style-type:none;
}
nav ul a {
    text-decoration: none;

}
nav ul a:hover {
    text-decoration: underline;
    
}
nav ul a:visited {
    text-decoration: none;
    color:#000;
}
