img {
    display: block;
    margin: 0 auto;
}

input {
    display: block;
    margin: 0 auto;
}

main {
    text-align: center; /* For button (inline block elements) */
}

.searchbutton {
    display: inline-block;
    margin-top: 10px;
}

